#po-results{
    list-style: none;
    margin: 0;
    padding: 0;
}
.po-results-item{
    padding: 1rem;
    margin: 0;
}
.po-results-item:nth-child(even){
    background: #ccc;
}
.po-results-item > dd{
    margin-bottom: 0.5rem;
}
.po-results-item > dt{
    margin-bottom: 0;
    line-height: 0.8rem;
    font-size: 0.8rem;
}